{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
<section>
     {{> title data=name big=true}}

    <div>
         {{> title data="Biography" big=false}}
        <p>birthdate: {{birthdate}}</p>
        <p>birthplace: {{birthplace}}</p>
        <p>deathdate: {{deathdate}}</p>
        <p>deathplace: {{deathplace}}</p>
        <p>nationality: {{nationality}}</p>
        <p>occupation: {{occupation}}</p>
    </div>
    <p>known for: {{known_for}}</p>
</section>
<br>
<hr>

<section>
    <div>
     {{> title data="Education" big=false}}
     </div>
<br> <hr>
<div>
{{> title data="Notable publications" big=false}}
<ul>
    {{#each notable_publications}}
<li>{{title}}, <i>publisher: </i>{{publisher}}, ({{year}}) </li>
    {{/each}}
</ul>
</div>
<br> <hr>
<div>
{{> title data="Partners" big=false}}
<ul>
    {{#each partners}}
<li>{{name}}, {{relationship}}, ({{ years }}) </li>
    {{/each}}
</ul>
</div>
<br><hr>
<div>
    {{> title data="Awards:" big=false}}
  {{>list data=major_discoveries title=title description=description year=year}}

</div>
<br><hr>
<div>
    {{> title data="Influences:" big=false}}
        <ul>
        {{#each influences}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
<br><hr>
<div>
    {{> title data="Influenced:" big=false}}
      <ul>
        {{#each influenced}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
<br><hr>
<div>
    {{> title data="Quotes:" big=false}}
    <ul>
        {{#each quotes}}
        <li> <q>{{this}} </q> </li>
        {{/each}}
    </ul>

    
  </div>
<br><hr>
<div>
    {{> title data="Major discoveries:" big=false}}
     {{>list data=major_discoveries title=title description=description year=year}}
</div>
<br><hr>
<div>
    {{> title data="Contributions:" big=false}}
  
<p>Title: {{contributions.title}}</p>
<p>Description: <q>{{contributions.description}}</q></p>
<p>Year: {{contributions.year}}</p>
<p>Field: {{contributions.field}}</p>

</div>
<br><hr>
</section>

</div>
