<div>
<section>
        {{> title data=name big=true}}
        <p> <em> Description: {{description}} </em> </p>
        <p>Founder: {{history.founder}}, ({{history.year}})</p>
</section>
<br><hr>
<section>
<div>
   {{> title data='Types:' big=false}}
   <div>
{{>list-ul data=types}}
</div>
 </div>
<br><hr>
<div>
   {{> title data='Syntax:' big=false}}
   <ul>
        <li>variables: {{syntax.variables}}  </li>
        <li>functions: {{syntax.functions}}  </li>
        <li>conditionals: {{syntax.conditionals}}  </li>
         <li>loops: {{syntax.loops}}  </li>
          <li>classes: {{syntax.classes}}  </li>
   </ul>
</div>
<br><hr>
<div>
   {{> title data='Features:' big=false}}
      <div>
{{>list-ul data=features}}
</div>
</div>
<br><hr>
<div>
   {{> title data='Libraries:' big=false}}
      <div>
{{>list-ul data=libraries}}
</div>
</div>
<br><hr>
<div>
   {{> title data='Tools:' big=false}}
      <div>
{{>list-ul data=tools}}
</div>
</div>
<br><hr>
<div>
   {{> title data='Community:' big=false}}
</div>
<div>
   {{#each community}}
<p> Name: {{name}}, type: {{type}}</p>
      {{/each}}
   </p>
</div>
<br><hr>
</section>
</div>