<div>
{{#each program}}
 <section>
     {{> title data=name big=true}}
<div>
  <p>Location: {{location.city}}- {{location.country}} (<time>{{date}}</time>)</p>
</div>
  </section>
  <br><hr>
  <section>
    {{#each program}}
     {{> title data=name big=false}}
     <p>type: {{type}}, duration: {{duration}}</p>
    <div><em>Detais:</em> </div>
    {{#if details.museum.name}}
      <p> museum: {{details.museum.name}}</p>
           <p><em> Location:</em> </p>
           <p>address: {{details.museum.location.address}}, city: {{details.museum.location.city}}, country: {{details.museum.location.country}}</p>
      <em>Exhibits:</em>
      <ul>
        {{#each details.museum.exhibits}}
        <li>
            {{#if name}} name: {{name}} {{else}}name: unknown {{/if}},
            {{#if artist}} artist: {{artist}} {{else}} artist: unknown {{/if}},
            {{#if description}} description: {{description}} {{else}} description: unknown {{/if}},
            {{#if audio_guide}}  audio-guide:yes {{else}}  audio-guide:no {{/if}}
         </li>
       {{/each}}
      </ul>
  
       {{else}}
           <p> museum: {{details.venue.name}}</p>
           <p><em> Location:</em> </p>
           <p>address: {{details.venue.location.address}}, city: {{details.venue.location.city}}, country: {{details.venue.location.country}}</p>
           
           <em>Performers:</em>
          <ul>
          {{#each details.performers}}
          <li>
          <p>name: {{name}}, type: {{type}}</p>
              {{/each}}
          </li>
              </ul>
             
      {{/if}}
      <div>
        <em>Guide:</em>
        <p>name: {{details.guide.name}}, language: {{details.guide.language}}, rating: {{details.guide.rating}}</p>
      </div>
     <br><hr>
    {{/each}}
    
  </section>
{{/each}}
 
</div>