<main class="p-5">

  <section>
    <div class="card mb-4">
      {{#each navigation}}
      <div class="nav">
        {{#each this}}
        <div class="nav-item">

          <a href="{{this.href}}" class="nav-link {{#if @last}} disabled {{/if}}">{{this.text}}</a>

        </div>

        {{/each}}
      </div>
      {{/each}}
    </div>
  </section>

  <section>

    <div class="row">
      <h2 class="mb-5 mt-1">{{header}}</h2>
      {{#with contacts_data}}
      <div class="col-8">

        <h3 class="mb-2 mt-1">{{title}}</h3>

        <div class="row mb-4 ps-3">

          {{#each buttons}}

          <button class=" col-4  me-2  btn {{#if isPrimary}} btn-warning text-light 
          {{else}}
           {{#if isOutline}} btn-outline-warning
            {{/if}} {{/if}}">{{text}}</button>
          {{/each}}
        </div>

        {{#with form}}
        <div class="row gx-1 gy-1">
          {{#with input}}
          {{#each this}}
          <div class="col-6 text-secondary">

            <label class="form-label">{{this.label}}</label>
            <input class="form-control " placeholder="{{this.placeholder}}">
            <div class="form-text "> {{this.caption}}</div>

          </div>
          {{/each}}


          {{/with}}
        </div>
        <div>
          <hr class="mt-4 mb-4">
        </div>
        <div class="col-12">
          {{#each switch}}
          <div class="form-check form-switch ">
            <label class="form-check-label">{{text}} </label>
            <input type="checkbox" class="form-check-input" {{#if isActive}} checked {{/if}}>

          </div>
          {{/each}}

        </div>
        <div>
          <hr class="mt-4 mb-4">
        </div>

        {{/with}}
        {{/with}}
        {{!-- =============delivery========== --}}

        <div class="col-12">
          {{#with delivery}}
          <h3 class="mb-2 mt-1">{{title}}</h3>
          <div class=" card pe-3 mb-2">
            <div class="row ">
              {{#each select}}
              <div class="col-6 mb-2">
                <label class="form-label ps-2 pt-2">{{label}}</label>
                <select class="form-select ms-2" placeholder="placeholder">
                  <option selected disabled>{{placeholder}}</option>
                  {{#each options}}
                  <option value="value">{{text}}</option>
                  {{/each}}
                </select>
              </div>
              {{/each}}
            </div>
          </div>
          {{#each delivery_type}}
          <div class="form-check">


            <label class="form-check-label">{{type}} </label>
            <input name="delivery_type" type="radio" class="form-check-input" {{#if @first}} checked {{/if}}>


          </div>

          {{/each}}
          {{!-- =============delivery end========== --}}
          <div>
            <hr class="mt-4 mb-4">
          </div>
          {{!-- ==========payment========== --}}
          <div class="col-12">
            {{#with payment}}
            <h3 class="mb-2 mt-1">{{title}}</h3>
            {{#each list }}
            <div class="form-check">
              <input name="payment" class="form-check-input" type="radio" {{#if @first}} checked {{/if}}>
              <label class="form-check-label">{{type}}</label>
            </div>
            <div class="form-label">{{description}}</div>
            {{/each}}
            {{/with}}
          </div>

          {{!-- ===============payment end===== --}}
          <div>
            <hr class="mt-4 mb-4">
          </div>
          {{!-- ==========contact========== --}}
          <div class="col-12">
            {{#with contact}}
            <h3 class="mb-2 mt-1">{{title}}</h3>

            <div class="row g-2">

              <div class="col-6 ">
                <label class="form-label">{{surname.label}}</label>
                <input class="form-control " placeholder="{{surname.placeholder}}">
                <div class="form-text "> {{surname.caption}}</div>
              </div>
              <div class="col-6">
                <label class="form-label">{{name.label}}</label>
                <input class="form-control " placeholder="{{name.placeholder}}">
                <div class="form-text "> {{name.caption}}</div>
              </div>
              <div class="col-6">
                <label class="form-label">{{phone.label}}</label>
                <input class="form-control " placeholder="{{phone.placeholder}}">
                <div class="form-text "> {{phone.caption}}</div>
              </div>
              <div class="col-6">
                <label class="form-label">{{email.label}}</label>
                <input class="form-control " placeholder="{{email.placeholder}}">
                <div class="form-text "> {{email.caption}}</div>
              </div>

            </div>

            {{/with}}
          </div>
          {{!-- ==========end========== --}}
          <div>
            <hr class="mt-4 mb-4">
          </div>
          <div class="col-12">
            <label class="form-label">{{coment.label}}</label>
            <input class="form-control " placeholder="{{coment.placeholder}}">
          </div>
          <div>
            <hr class="mt-4 mb-4">
          </div>
          {{/with}}
          <section>

            <div class="col-12">
              {{#with coupon}}
              <div class="row">
                <div>
                  <h3 class="mb-2 mt-1">{{title}}</h3>
                </div>

                {{#with select}}
                {{#each this}}
                <div class="col-12 text-secondary">

                  <label class="form-label ">{{this.label}}</label>
                  <select class="form-select  mb-2 {{#if @first}} form-select-lg {{else}} form-control-sm {{/if}}"
                    placeholder="placeholder">
                    <option selected disabled>{{placeholder}}</option>
                    {{#each options}}
                    <option value="value">{{text}}</option>
                    {{/each}}
                  </select>

                </div>
                {{/each}}
                {{/with}}

                {{#with add}}
                {{#each this}}
                <div class="col-12 text-secondary">

                  <label class="form-label ">{{this.label}}</label>
                  <input class="form-control  mb-2 {{#if @first}} form-select-lg {{else}} form-control-sm {{/if}}"
                    placeholder="{{this.placeholder}}">
                  <div class="form-text "> {{this.caption}}</div>
                </div>
                {{/each}}
                {{/with}}

              </div>
              {{/with}}
            </div>

          </section>

          <div>
            <hr class="mt-4 mb-4">
          </div>

          <section>
            <div class="col-12">
              {{#with quiz}}
              <h3>{{title}}</h3>
              {{#with preference}}

              <div class="form-label">{{title}} </div>
              {{#each options }}
              <div class="form-check mb-2">
                <label class="form-check-label">{{this}} </label>
                <input name="options" type="radio" class=" form-check-input" {{#if @first}} checked {{/if}}>
              </div>

              {{/each}}
              {{/with}}

              <div class="col-12 mt-2 mb-2">
                <label class="form-label">{{your_expirience.label}}</label>
                <input class="form-control ">

              </div>

              <div class="col-12 m">
                {{#with purchase_frequency}}
                <label class="form-label ">{{label}}</label>
                <select class="form-select mb-2">

                  <option selected disabled>{{placeholder}}</option>
                  {{#each options}}
                  <option value="{{this.value}}">{{this.text}}</option>
                  {{/each }}
                </select>
                {{/with}}
              </div>
              <div class="col-12 mt-4 mb-2">
                {{#with factors}}
                <div class="form-label">{{title}} </div>
                {{#each options}}
                <div class="form-check">
                  <label class="form-check-label">{{this}} </label>
                  <input name="factors" type="checkbox" class="form-check-input" {{#if @first}} checked {{/if}}>
                </div>
                {{/each}}
                {{/with}}
              </div>
              {{/with}}
            </div>
          </section>
        </div>
      </div>

      {{!-- =========== --}}
      <div class="col-4 ">

        <div class="row ">

          <div class="col-12 ">
            <div class="card">
              <div class="pt-4 pb-3 px-2">
                <div class="nav flex-column">
                  {{#each action_block}}
                  <div class="nav-item mb-2">
                    <button class="btn
                   {{#if isSuccess}}
                   btn-success
                   {{else}}
                   {{#if isDanger}}
                   btn-danger
                   {{else}}
                   {{#if isInfo}}
                   btn-info text-light
                   {{/if}}
                   {{/if}}
                   {{/if}}">
                      {{text}}</button>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <div class="card">
              {{#with total}}
              <h3 class="mb-2 mt-1 px-2">{{title}}</h3>
              {{#each item_list}}
              <div class="nav flex-column">
                {{#with this}}
                <div class="nav-item ps-2 mb-1">
                  {{this.name}}: {{this.price}}

                </div>
                {{/with}}
              </div>
              {{/each}}

              <div>
                <hr class="mb-3">
              </div>
              {{#each additional_info}}
              <div class="nav flex-column">
                {{#with this}}
                <div class="nav-item ps-2 mb-1">
                  {{this.text}}: {{this.value}} </div>
                {{/with}}
              </div>
              {{/each}}
              <div>
                <hr class="mb-3">
              </div>
              {{#with total_price}}
              <div class="ps-2 mb-1"> {{text}}: {{value}}</div>
              {{/with}}
              <div>
                <hr class="mb-2">
              </div>

              <div>

                <div class=" col-12  mt-1 px-2">
                  <div class="nav flex-column">
                    {{#each button}}
                    <div class="nav-item">

                      <button class=" mb-2  btn 
                    {{#if isPrimary}}
                  btn-primary
                  {{else}}
                  {{#if isOutline }}
                  btn-outline-primary
                  {{/if}}

                  {{/if}}"> {{text}}</button>

                    </div>
                    {{/each}}
                  </div>

                </div>



                {{/with}}
              </div>


            </div>
          </div>

          {{!-- ===========total=== --}}
        </div>
      </div>
    </div>
  </section>


  <div>
    <hr class="mt-4 mb-4">
  </div>
  <footer>

    <div class="row ">
      {{#each footer}}
      <div class=" nav col-2">
        {{#each this}}
        <div>
          <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
        </div>

        {{/each}}

      </div>

      {{/each}}
    </div>



  </footer>

</main>