{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
{{#with main}}

    <main>
        <section>

            {{> title data=summary.title big=true}}
            <div>
                <p>
                    {{summary.text}}
                </p>
        </section>
        {{#with experience}}
        <section>
            <div>
                {{!-- <h2>{{title}}</h2> --}}
            {{>title data=title big=false}}
            </div>
            <div>
                <p>
                    {{text}}
                </p>
            </div>
        </section>
        {{/with}}
    </main>
{{!-- стандарний код --}}
    {{!-- <footer>
        <hr>
        <br>
        <a href="{{social.email.href}}"> {{social.email.text}}</a> /
        <a href="{{social.phone.href}}">{{social.phone.text}}</a> /
        <a href="{{social.linkedin.href}}" target="_blank"> {{social.linkedin.text}}</a>
    </footer> --}}


{{!-- ------приклад для тега #with----- --}}
    {{!-- <footer>
        <hr>
        <br>
        {{#with social}} --}}
           {{!-- {{#with email}} --}}
             {{!-- <a href="{{href}}"> {{text}}</a> / --}}
          
          {{!-- якщо без #with, то треба точнго прописсувати шлях до змінних --}}
          {{!-- приклад {{>link href=email.href text=email.text}} --}}
          {{!-- якщо назви змінних різні, то треба їх іжентифікувати --}}
           {{!-- {{>link link=href info=text}} --}}
          
           {{!-- {{>link }}
           {{/with}}
           {{#with phone}}
           {{>link }}
           {{/with}}
           {{#with linkedin}}
           {{>link }}
           {{/with}} --}}

           {{!-- {{>link data=email}}
           {{>link data=phone}}
           {{>link data=linkedin}}
        {{/with}}
    </footer> --}}
{{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
