<main class="p-5">
  <section>
    <div class="row gx-1">
      {{#with navigation}}
      {{#each links}}

      <div class="col-2 ">
        <div>
          <a href="{{href}}" class="btn btn-link">{{text}}</a>
        </div>

      </div>
      {{/each}}
      <div class="col-6 ">
        <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
      </div>
      {{/with}}
    </div>

  </section>
  <hr>

  <section class="row ">

    <div class="col-12">
      {{#with header}}
      <div>
        <h1 class="display-1">{{title}} </h1>
        <p>{{description}}</p>
        <a href="{{button.link}}" class="btn btn-primary">{{button.text}}</a>

      </div>
      {{/with}}

    </div>

  </section>

  <hr>
  <section>


    {{#with city}}
    <div class="row gx-4 gy-2">

      <div class="col-12 ">
        <h2 class="display-2">{{title}}</h2>
      </div>
      {{#each cards}}
      <div class="col-5">

        <div class="card ">
          <img class="card-img-top" src="{{picture.src}}" alt="{{picture.alt}}">
          <div>
            <h3 class="card-title">{{title}}</h3>
            <p>{{description}}</p>
            <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
          </div>

        </div>


      </div>
      {{/each}}
    </div>
    {{/with}}
  </section>
  <hr>
  <section>
    <div class="row">
      {{#with winner}}
      <div class="col-12">
        <h2 class="display-2">{{title}}</h2>
      </div>

      <table class="table  table-striped ">
        {{#with table}}
        <thead>

          <tr>
            {{#each head}}

            <th>{{this}}</th>
            {{/each}}
          </tr>

        </thead>

        <tbody>
          {{#each user}}
          <tr>
            <th>{{place}}</th>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{nickname}}</td>
          </tr>
          {{/each}}
        </tbody>
        {{/with}}
      </table>
      {{/with}}
    </div>
  </section>
  <hr>
  <section>

    <div class="row gx-2">
      {{#with gallery}}
      <div class="col-12">
        <h2 class="display-2">{{title}}</h2>
      </div>
      {{#each cards}}
      <div class="col-4 ">
        <div class="card  ">

          <div class="card-header">
            <div class="display-6"> {{name}}</div>


          </div>
          <div class="list-group  list-group-flush">
            {{#each items}}
            <p class="list-group-item "> {{this}}</p>
            {{/each}}
          </div>
        </div>
      </div>
      {{/each}}
      {{/with}}
    </div>
  </section>
  <hr>
  <section>
    <div class="row gx-2 gy-4">
      {{#with relaxion}}
      <div class="col-12">
        <p class="display-3">{{title}}</p>
      </div>
      {{#each cards}}
      <div class="col-5">

        <div class="card text-bg-secondary">
          <div class="card-header">
            <p>{{header}}</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <div>{{description}}</div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/with}}
    </div>

  </section>
  <hr>
  <section class="row gx-2">
    {{#with rest}}
    {{#each cards}}
    <div class="col-6">

      <div class=" card text-center">

        <div class="card-header">{{header}}</div>
        <div class="card-body">
          <h4 class="card-title">{{title}}</h4>
          <p>{{description}}</p>
          <button class="btn btn-primary">{{button}}</button>
        </div>
        <div class="card-footer">{{footer}}</div>

      </div>


    </div>
    {{/each}}
    {{/with}}

  </section>
  <hr>

  <section>
    <div class="row gx-2 gy-4">
      {{#with proposition}}
      <div class="col-12">
        <p class="display-2">{{title}}</p>
      </div>
      {{#each card}}
      <div class="col-5">

        <div class="card text-bg-warning text-light">
          <div class="card-header">
            <p>{{header}}</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <div>{{description}}</div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/with}}
    </div>

  </section>
  <hr>






  <section>
    <div class="row g-2">
      {{#with footer}}
      <div class="col-12">
        <h1 class="display-2">{{title}} </h1>
      </div>
      <section class="row g-4">
        <div class="col-4  ">
          {{#each navigation}}
          <p> <a href="{{href}}" class="btn btn-link">{{text}}</a></p>
          {{/each}}
        </div>
        <div class="col-4  ">
          {{#each socialMedia}}
          <p> <a href="{{link}}" class="btn btn-outline-dark">{{name}}</a></p>
          {{/each}}
        </div>
        <div class="col-4 ">
          {{#each partners}}
          <p> <a href="{{link}}" class="btn btn-outline-info">{{name}}</a></p>
          {{/each}}
        </div>
      </section>
      {{/with}}
    </div>
  </section>

 



</main>